.tileContainer {
  height: 33vh;
  margin: 50px 0;
}

.tileContent {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  height: 100%;
}

.tileImage{
  border: solid pink 4px;
}

/* Not working */
@media screen and (max-width: 700px) {
  .tileContainer {height: 35vh;}
  .tileImage {height: 25vh;}
}